.banner{
    position: relative;
    height: 100vh;
    width: 65%;
}
.bannerImage{
    width: 100%;
    height: 100%;
}

.bannerText {
    position: absolute;
    bottom: 6rem;
    margin: 2rem;
    padding: 1rem;
    color: aliceblue;
    z-index: 2;
    font-size: 2.7rem;
    
}